---
---
{% for post in site.posts %}
<article>
  {% if post.excerpt_image %}<img class="floatright" src="{{ post.excerpt_image }}">{% endif %}
  <h3>
    <a href="{{ post.url }}">{{ post.title }}</a>
  </h3>
  {{ post.excerpt }}
  <a href="{{ post.url }}">more...</a>
</article>
{% endfor %}
<article>
  <img class="floatright" src="https://www.gravatar.com/avatar/8b54a98526ff7a437ec604aa471deba7?s=150">
  <h3>About Me</h3>
  <p>
    <a href="http://pilateswithkatrina.com/">Family</a>, music, software engineering.
  </p>
  <ul>
    <li>
      My music is available on many streaming services, including
      <a href="https://open.spotify.com/artist/1TQ9fvcWxJeL4xdWRDPlR7">Spotify</a>,
      <a href="https://music.youtube.com/channel/UClnN0d6pmsBgXWW32mbVUKQ">YouTube Music</a>,
      and <a href="https://music.apple.com/us/artist/duelin-markers/1488283383">Apple Music</a>.
      I have a
      <a href="https://www.youtube.com/channel/UClnN0d6pmsBgXWW32mbVUKQ/">YouTube Channel</a>.
    </li>
    <li>
      I used to play drums in the band
      <a href="http://twodaysuitcase.com/">Two-Day Suitcase</a>.
    </li>
    <li>
      I work for <a href="https://web.bravotran.com/">BravoTran</a>;
      previously for
      <a href="https://www.braintreepayments.com/">Braintree (PayPal)</a>,
      <a href="http://drw.com/">DRW</a>,
      <a href="http://intentmedia.com/">Intent Media</a>,
      <a href="http://thoughtworks.com/">ThoughtWorks</a>,
      <a href="http://www.nlg.com/">National Leisure Group</a>,
      <a href="http://www.cruiseone.com/">CruiseOne</a>,
      <a href="http://powinc.com/">POW! Inc</a>.
    </li>
    <li>
      I used to blog at
      <a href="http://elhumidor.blogspot.com/">elhumidor.blogspot.com</a>.
    </li>
    <li>
      You can find me on
      <a rel="me" href="https://hachyderm.io/@duelinmarkers">Mastodon</a>,
      <a href="https://www.instagram.com/duelin.markers/">Instagram</a>,
      <a href="https://gitlab.com/duelinmarkers">GitLab</a>,
      <a href="http://github.com/duelinmarkers">GitHub</a>,
      the phone,
      etc.
    </li>
    <li>
      You can encrypt a message to me using
      <a href="http://keybase.io/duelinmarkers">my GPG key</a>
      (fingerprint D0C8 9C93 956C 3726 B402  5ED3 7C52 19A2 B058 E31C).
    </li>
  </ul>
</article>
