body {
    font-family: sans-serif;
    color: #333;
    background-color: #eee;
    font-size: 140%;
    line-height: 200%;
    text-shadow: rgba(0, 0, 0, 0.3) 0 0 15px;
}

a {
    text-decoration: none;
}

h1, h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
}

.notice {
    font-size: 120%;
    background-color: white;
    padding: 1em;
    margin: 1em;
}
