/* See paletton.css for more colors. */
body {
    margin: 0 1%;
    background-color: #D8C773;
    color: #000;
    font-family: CarlitoRegular, Calibri, sans-serif;
    font-size: 120%;
    line-height: 180%;
}

a:link, a:visited {
    color: #453578;
    text-decoration: none;
    border-bottom: 1px solid #d5d1e2;
    box-shadow: inset 0 -2px 0 #d5d1e2;
}

a:hover, a:active {
    border-top: 5px solid #d5d1e2;
    background-color: #d5d1e2;
}

h1, h2, h3, h4 {
    font-family: CarlitoBoldItalic, Calibri, sans-serif;
    margin: 1ex 0;
    font-style: italic;
}

header, .main, .rightsidebar {
    border: 2px solid #AF9C40;
    border-radius: 8px;
}

header, .main {
    margin: 1ex 31% 1ex auto;
    padding: 0 1em;
    max-width: 750px;
    background-color: #fffbf0;
}

header h1 {
    color: #453578;
    float: left;
    margin-right: .5em;
}

header h2 {
    color: #665795;
    text-align: right;
    margin: .75em 0 .25em .5em;
}

header h2:before {
    content: 'aka ';
    font-size: 75%;
    white-space: nowrap;
}

.rightsidebar {
    position: absolute;
    top: 1ex;
    right: 1%;
    left: 70%;
    background-color: #FFF7D2;
    padding: 1em;
}

.rightsidebar h3 {
    color: #84721B;
}

.main article {
    margin: 2ex 0 4ex 0;
    padding-bottom: 2ex;
    border-bottom: 2px solid #AF9C40;
}

.main article:last-child {
    padding-bottom: 1ex;
    border-bottom: none;
}

h1, h2, h3, h4 {
    color: #453578;
}

img.floatright {
    float: right;
    margin: 1ex 0 1ex 1em;
}

iframe.video-embed {
    max-width: 100%;
}

code { /* inline */
    background-color: white;
    padding: 2px;
    border: 1px solid #D8C773;
}

div.highlight { /* code blocks */
    border: 1px solid #D8C773;
    line-height: 100%;
    padding: 0 .5em;
}

.highlight code {
    border: none;
}

footer {
    font-size: 60%;
    color: #84721B;
    text-align: center;
}

@media (max-width: 860px) {
    header {
        margin-right: auto;
    }

    .main {
        margin-right: auto;
    }

    .rightsidebar {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        margin: 1ex auto;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 100%;
    }
}
