<html>
  <head>
    <meta charset="utf-8">
    <title>
      {% if page.title %}{{ page.title }} - {% endif %}
      John Hume, duelinmarkers.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="https://openfontlibrary.org/face/carlito"/>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/syntax.css">
    {% feed_meta %}
  </head>
  <body>
    <header>
      <a href="/">
        <h1>John Hume</h1>
        <h2>duelin markers</h2>
      </a>
    </header>

    <div class="main">
      {{ content }}
    </div>

    <div class="rightsidebar">
      <img class="floatright" src="https://www.gravatar.com/avatar/8b54a98526ff7a437ec604aa471deba7?s=150">
      <h3>About Me</h3>
      <p>
        Austin, TX. <a href="http://pilateswithkatrina.com/">Family</a>, music, software engineering.
      </p>
      <ul>
        <li>
          You can find me on
          <a rel="me" href="https://hachyderm.io/@duelinmarkers">Mastodon</a>,
          <a href="https://www.instagram.com/duelin.markers/">Instagram</a>,
          <a href="https://gitlab.com/duelinmarkers">GitLab</a>,
          <a href="http://github.com/duelinmarkers">GitHub</a>,
          the phone,
          etc.
        </li>
        <li>
          You can encrypt a message to me using
          <a href="http://keybase.io/duelinmarkers">my GPG key</a>
          (fingerprint D0C8 9C93 956C 3726 B402 5ED3 7C52 19A2 B058 E31C).
        </li>
        <li>
          My music is available on many streaming services, including
          <a href="https://open.spotify.com/artist/1TQ9fvcWxJeL4xdWRDPlR7">Spotify</a>,
          <a href="https://music.youtube.com/channel/UClnN0d6pmsBgXWW32mbVUKQ">YouTube Music</a>,
          and <a href="https://music.apple.com/us/artist/duelin-markers/1488283383">Apple Music</a>.
          I have a
          <a href="https://www.youtube.com/channel/UClnN0d6pmsBgXWW32mbVUKQ/">YouTube Channel</a>.
        </li>
        <li>
          I used to play drums in the band
          <a href="http://twodaysuitcase.com/">Two-Day Suitcase</a>.
        </li>
        <li>
          I work for <a href="https://web.bravotran.com/">BravoTran</a>;
          previously for
          <a href="https://www.braintreepayments.com/">Braintree (PayPal)</a>,
          <a href="http://drw.com/">DRW</a>,
          <a href="http://intentmedia.com/">Intent Media</a>,
          <a href="http://thoughtworks.com/">ThoughtWorks</a>,
          <a href="http://www.nlg.com/">National Leisure Group</a>,
          <a href="http://www.cruiseone.com/">CruiseOne</a>,
          <a href="http://powinc.com/">POW! Inc</a>.
        </li>
        <li>
          I used to blog at
          <a href="http://elhumidor.blogspot.com/">elhumidor.blogspot.com</a>.
        </li>
      </ul>
    </div>

    <footer>
      Copyright &copy; 2021 John D. Hume
    </footer>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68536730-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
